/* color definitions */
:root {
    --text: #1a1a1a;
    --background: #ededed;
    --transparent: #ededed00;
    --header: #1a1a1a85;
    --red: #e30b0b;
    --gray: #9e9e9e;
    --green: #1a3e0a;
    --button: #1a3e0a85;
}

@font-face {
    font-family: "BoldFont";
    src: url(fonts/theboldfont.ttf) format("truetype");
    font-style: normal;
}

/* Universal css */
* {
    background-color: var(--background);
    color: var(--text);
    font-family: BoldFont, sans-serif;
}

body {
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 5rem;
}

#form {

}

span {
    display: inline-block;
    margin-bottom: 1%;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

legend {
    display: block;
    margin: 1% auto;
    font-size: 3rem;
}

form label {
    display: inline-block;
    margin: 1% auto;
    font-size: 1.5rem;
    vertical-align: middle;
}


form video {
    width: 40%;
    height: 40%;
    margin-bottom: 2%;
    border-radius: 15px;
}

form img {
    width: 30%;
    height: 30%;
    margin-bottom: 2%;
    border-radius: 15px;
}

input[type="radio"] {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5%;
    accent-color: var(--red);
    font-size: 2rem;
    vertical-align: middle;
}

input[type="button"] {
    display: inline-block;
    margin: 5% auto;
    padding: 0.2%;
    font-size: 2rem;
    background-color: var(--button);
    color: var(--background);
    border: none;
    border-radius: 15px;
}

input[type="button"]:hover {
    background-color: var(--green);
    cursor: pointer;
    color: var(--red);
}

#submit-button-wrapper {
    height: 50vh;
    width: 50vw;
}

#home {
    color: var(--text);
    font-size: xx-large;
    margin-bottom: 5%;
}

#home:hover {
    color: var(--red);
}

#score-div {
    font-size: 2rem;
    margin-bottom: 5%;
    color: var(--red);
}