/* color definitions */
:root {
    --text: #1a1a1a;
    --background: #ededed;
    --transparent: #ededed00;
    --header: #1a1a1a85;
    --red: #e30b0b;
    --gray: #9e9e9e;
    --green: #1a3e0a;
    --button: #1a3e0a85;
}

/* Universal css */
* {
    background-color: var(--background);
    color: var(--text);
    margin: 0%;
    padding: 0%;
}


body {
    overflow-x: hidden;
}

button {
    width: 10vw;
    height: 10vh;
    color: var(--background);
    background-color: var(--button);
    margin-top: 5%;
}

button:hover {
    border: 5px var(--red) outset;
}

button a {
    background-color: transparent;
    font-size: larger;
}

button a:visited {
    color: var(--background);
}

button a:hover {
    color: var(--red);
}


/* index.html */

header {
    background-color: var(--header);
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 100;
}


a:hover {
    color: var(--red);
}


nav {
    text-align: center;
}

#logo {
    width: 10%;
    float: left;
    padding: 0%;
    background-color: var(--transparent);
}

#logo:hover {
    border: none;
    pointer-events: none;
}

ul {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    display: inline;
}

ul li {
    float: right;
    margin: 1.5% 5%;
    padding: 0%;
}

ul li a {
    display: block;
    color: var(--text);
    background-color: var(--header);
    text-decoration: none;
    padding: 0%;
}


section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#home, #about, #baest-releases, #member-quiz, #song-quiz {
    width: 100vw;
    height: 100vh;
}


img:hover {
    border: #e30b0b 5px inset;
    cursor: pointer;
}


/* Main */

video {
    background-color: var(--background);
}




/* about */

h2 {
    font-size: 3rem;
    text-align: center;
    margin: auto;
}

p {
    font-size: 1.2em;
    margin-top: 2%;
    text-align: center;
}

.content {
    margin-top: 5%;
    display: inline;
    position: relative;
    left: 100px;
    text-align: center;
}

.description {
    width: 100ch;
    margin: auto;
}

.member-name {
    font-size: x-large;
    font-weight: bold;
    margin: 2rem;
}

#members-left {
    float: left;

}

#members-right {
    float: right;
}

.members {
    width: 25%;
    height: 25%;
    margin: auto;
}


/* baest-releases section */

.release-name {
    font-size: x-large;
    font-weight: bold;
    margin: 2rem;
}

#release-left {
    float: left;

}

#release-right {
    float: right;
}

.release {
    width: 25%;
    height: 25%;
    margin: auto;
}


/* Member quiz */

.group-photo {
    width: 50%;
    height: 50%;
    margin: 5% auto;
}


.group-photo:hover {
    border: none;
    pointer-events: none;
}



/* Footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
}