/* color definitions */
:root {
    --text: #1a1a1a;
    --background: #ededed;
    --transparent: #ededed00;
    --header: #1a1a1a85;
    --red: #e30b0b;
    --gray: #9e9e9e;
    --green: #1a3e0a;
}

/* Universal css */
* {
    background-color: var(--background);
    color: var(--text);
    margin: 0%;
    padding: 0%;
}

/* index.html */

header {
    background-color: var(--header);
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 100;
}


a:hover {
    color: var(--red);
}


nav {
    text-align: center;
}

#logo {
    width: 10%;
    float: left;
    padding: 0%;
    background-color: var(--transparent);
}

ul {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    display: inline;
}

ul li {
    float: right;
    margin: 1.5% 5%;
    padding: 0%;
}

ul li a {
    display: block;
    color: var(--text);
    background-color: var(--header);
    text-decoration: none;
    padding: 0%;
}


section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}


video {
    background-color: var(--transparent);
}

#home, #about, #discography, #member-quiz, #song-quiz {
    width: 100vw;
    height: 100vh;
}


/* about.html */

h2 {
    font-size: 3rem;
}

p {
    font-size: 1.2em;
    margin-top: 2%;
}

#content {
    margin-top: 5%;
    display: inline;
    position: relative;
    left: 100px;
    text-align: center;
}

#about-description {
    width: 100ch;
}

.member-name {
    font-size: x-large;
    font-weight: bold;
    margin: 2rem;
}

#members-left {
    float: left;

}

#members-right {
    float: right;
}

.members {
    width: 45%;
    height: 45%;
    margin: auto;
}






 /* quiz.html*/

form img {
    width: vw 10;
    height: vh 10;
    margin: 1% 0%;
    /* float: left; */
}

form label {
    align-items: center;
    text-align: center;
}